@import url('https://fonts.googleapis.com/css?family=EB+Garamond:500|Gloria+Hallelujah|Waiting+for+the+Sunrise|Wendy+One');
:root {
    --theme-color: #ff9900;
}
html, body {
    max-width: 980px;
    margin: auto;
    box-sizing: content-box;
    background-color: #444;
}
body {
    background-color: #f5f5f5;
}
.lviv-logo {
    max-height: 60px;
    vertical-align: middle;
}
div.header {
    float: left;
    margin-left: 25px;
    max-width: 40%;
}
a.logo {
    display: inline-block;
    text-decoration: none;
    font-family: 'Waiting for the Sunrise', cursive;
    color: var(--theme-color);
    font-size: 3.5vw;
}
div.float {
    display: block;
    float: right;
    margin: 0;
    margin-right: 37px;
    position: sticky;
    top: 0;
    opacity: 0.6;
}
div.float:hover {
    opacity: 1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left;
}
li a {
    display: block;
    padding: 0.2vw 1vw 0.5vw 1vw;
    text-decoration: none;
    margin-right: 2px;
    background-color: var(--theme-color);
    color: white;
    font-size: 1rem;
    border-radius: 0px 0px 15px 15px;
    transition: background-color 0.3s,padding-top 0.3s;
}
li a:hover {
    background-color: #e17100;
    padding-top: 12px;
}
.main-img {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
.history-img {
    width: 25%;
    transition: width 1s;
}
.history-img:hover {
    width: 35%;
    box-shadow: 0 0 8px 2px rgba(255, 153, 0, 0.9), 0 0 20px 2px rgba(255, 153, 0, 0.7);
}
.left-image {
    float: left;
    margin: 0 1.5rem 0.2rem 20px;
}
.right-image {
    float: right;
    margin: 0 20px 0.2rem 1.5rem;
}
.transport-img {
    width: 30%;
    transition: width 1s;
}
.transport-img:hover {
    width: 40%;
    box-shadow: 0 0 8px 2px rgba(255, 153, 0, 0.9), 0 0 20px 2px rgba(255, 153, 0, 0.7);
}
.history-img, .transport-img {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 0 8px 2px rgba(255, 153, 0, 0.4), 0 0 20px 2px rgba(255, 153, 0, 0.35);
}
.transport-ico {
    display: none;
    float: left;
    max-height: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}
h1, h3, h4 {
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    }
h1 {
    font-family: 'Wendy One', sans-serif;
    color: #f1f1f1;
    font-size: 2.2rem;
    text-shadow: 4px 3px black;
    background-color: var(--theme-color);
    border-radius: 20px;
    margin: 5px;
}
h4 {
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 1.9rem;
    color: #fff;
    text-shadow: 2px 2px 7px var(--theme-color);
}
h3 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.8rem;
    font-style: italic;
    color: #fff;
    text-shadow: 1px 1px 9px var(--theme-color);
}
p  {
    font-family: 'EB Garamond', serif;
    text-align: justify;
    font-size: 1.3rem;
    text-indent: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
input[type="button"] {
    display: inline-block;
    text-align: center;
}
.reviews {
    text-align: center;
}
.review, .reviewer {
    font-family: 'Waiting for the Sunrise', cursive;
    text-shadow: 1px 1px 9px var(--theme-color);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
iframe {
    display: block;
    width: 100%;
    height: 450px;
    border: 0;
}
form.review {
    margin: 0 20px;
}
label {
    display: block;
    font-family: 'EB Garamond', serif;
    font-size: 1.1rem;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}
input[type="submit"] {
    display: block;
    margin: auto;
    padding: 7px 20px;
    border-radius: 8px;
    font-family: 'Wendy One', sans-serif;
    font-size: 1.3rem;
    color: #f1f1f1;
    background-color: var(--theme-color);
}
button {
    font-size: 1rem;
    display: inline-block;
    border-radius: 25px;
    color: #f1f1f1;
    background-color: var(--theme-color);
    padding: 3px 5px;
    font-family: 'EB Garamond', serif;
}
textarea {
    max-width: 90%;
}
footer {
    background-color: var(--theme-color);
    width: 100%;
    height: 60px;
    margin-top: 15px;
}
div.footer {
    height: 60px;
}
p.footer {
    padding-top: 20px;
    text-align: center;
    color: #f1f1f1;
}
/* Burger menu start*/
.burger-button {
    display: none;
    position: absolute;
    top: 10px;
    right: 38px;
    font-size: 2rem;
    cursor: pointer;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,153,0);
    background-color: rgba(255,153,0, 0.9);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 1s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.5s;
}
.overlay a:hover, .overlay a:focus {
    color: #000;
}
.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
}
@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/* Burger menu end*/
@media screen and (max-width: 600px) {
    .burger-button {
        display: block;
    }
    div.float {
        display: none;
    }
    .transport-img, .history-img {
        display: none;
    }
    .transport-ico {
        display: inline-block;
    }
    p {
        margin-left: 0.5em; margin-right: 0.5em;
    }
    a.logo {
        font-size: 5vw;
    }
    .header {
        max-width: 60%;
    }
    body {
        border-radius: 40px;
    }
    footer {
        border-radius: 0 0 40px 40px;
    }
    div.header {
        float: none; margin: auto; max-width: 60%;
    }
}